@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#results {
    padding: 0 75px;
    position: relative;
}


/** change color depending on result of AQIUS **/

.aqi.good {
    border: 15px solid #00DF59;
}

.aqi.moderate {
    border: 15px solid #FFDC00;
}

.aqi.unhealthy {
    border: 15px solid #ED5500;
}


/* class change for error message if nothing is entered and to hide drinks */

#alert {
    color: #ffffff;
    position: fixed;
}

.hide {
    visibility: hidden;
}

.hide {
    opacity: 0;
}

.unhide {
    visibility: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    border-radius: 15px;
    position: fixed;
    z-index: 3;
    font-family: "Open sans", san-serif;
    font-size: 1.2rem;
    transition: ease-in-out 0.5s;
}

@media screen and (max-width: 768px) {
    .unhide {
        width: 70%;
    }
}