@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* html {
    font-family: "Open Sans", Arial, sans-serif;
    color: #ffffff;
}

section {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background: linear-gradient(45deg, #6622F8, #ED5500, #FFDC00, #00A441);
    background-size: 400% 400%;
    opacity: 60%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

.has-text-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1.title {
    font-size: 7rem!important;
    color: #ffffff;
    line-height: 0.75;
}

.air-quality {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
}

.button {
    font-weight: bolder;
    width: 200px;
}

.button:hover {
    background-color: #ffffff!important;
    color: #6622F8 !important;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
} */

#results {
    /* background-color: goldenrod; */
    padding: 0 75px;
    margin: 15px 0 80px 0;
    position: absolute;
}


/** change color depending on result of AQIUS **/

.aqi.good {
    border: 8px solid green;
}

.aqi.moderate {
    border: 8px solid yellow;
}

.aqi.unhealthy {
    border: 8px solid red;
}