#results {
    background-color: goldenrod;
}


/** change color depending on result of AQIUS **/
#results.good {
background-color: green;
}

#results.moderate {
background-color: yellow;
}

#results.unhealthy {
background-color: red;
}
